/* ==============reset============= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/* ==============variables============= */

 :root {
    --header-height: 4.5rem;
    --base-color: #51c4c9;
    --base-color-second: #51c4c9;
    --base-color-alt: hsl(var(--hue)57% 53%);
    --title-color: #51c4c9;
    --text-color:#e5e5e5;
    --text-color-light: hsla(204, 100%, 1%, 0.993);
    --body-color: #2e302f;
    /* fonts */
    --title-font-size: 2.5rem;
    --subtitle-font-size: 1rem;
    --title-fonts: 'Nunito Sans', sans-serif;
    --body-font: 'Nunito Sans', sans-serif;
}


/* ==============base============= */

html {
    scroll-behavior: smooth;
}

body {
    font: 300 1.3rem var(--body-font);
    color: var(--text-color);
    background-color: var(--body-color);
    -webkit-font-smothing: antialiasied;
}

.title {
    font: 700 var(--title-font-size) var(--title-fonts);
    color: var(--title-color);
    -webkit-font-smothing: auto;
}

.button {
    background-color: var(--base-color);
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.3s;
}

.button:hover {
    background: var(--base-color-alt);
}

.divider-1 {
    height: 1px;
    background: linear-gradient( 270deg, var(--base-color), var(--body-color));
}

.divider-2 {
    height: 1px;
    background: linear-gradient( 270deg, var(--body-color), var(--base-color));
}

.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

.section {
    padding: calc(1rem + var(--header-height))0;
}

.section .title {
    margin-bottom: 1rem;
}

.section .subtitle {
    font-size: var(--subtitle-font-size);
}

.section header {
    margin-bottom: 4rem;
}

.section header strong {
    color: var(--base-color);
}

#header {
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 2rem;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
    width: 100%;
}

#header.scroll {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}


/* =============LOGO============= */
.logotipo{
    margin-top: 40px;
    margin-bottom: 10px;
    width: 70px;
    height: 100px;
}
.logo {
    font: 700 2.5rem var(--title-fonts);
    color: var(--title-color);
}

.logo span {
    color: var(--base-color);
}

.logo-alt span {
    color: var(--body-color);
}

nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    transition: color 0.2s;
    position: relative;
    font-size: 1.5rem;
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--base-color);
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--base-color);
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}

nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.9s;
}

nav .menu ul {
    display: none;
}


/* =============MOSTRAR MENU============ */

nav.show .menu {
    opacity: 1;
    visibility: visible;
    background: var(--body-color);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
}

nav.show .menu ul {
    display: grid;
}

nav ul.grid {
    gap: 4rem;
}


/* ==============toggle-menu============ */

.toggle {
    color: var(--base-color);
    font-style: 1.5rem;
    cursor: pointer;
}

nav .icon-close {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -1.5rem;
    right: 1.5rem;
    transition: 0.2s;
}

nav.show div.icon-close {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
}


/* ==============home============= */

#home {
    overflow: hidden;
    background-image: linear-gradient(
    to right bottom,
    rgb(46,48,47, 0.5),
    rgb(46,48,47, 0.9)
    ), url('/assets/fotos/home.webp');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home .container {
    margin: 0;
}

#home .image {
    position: relative;
}

#home .image::before {
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -16.8%;
    left: 16.7%;
    z-index: 0;
}

#home .image img {
    position: relative;
    right: 2.93rem;
}

#home .image img,
#home .image::before {
    border-radius: 0.25rem;
}

#home .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:100%;
}

#home .text h2 {
    color: var(--base-color);
    font-size: 4rem;
}

#home .text h2,
#home .text p {
    text-align: center;
}

#home .text h1 {
    margin-bottom: 1rem;
}

#home .text p {
    margin-bottom: 2rem;
}


/* =============ABOUT============ */

#about .container {
    margin: 0;
}

#about .image {
    position: relative;
    margin-bottom: 0.75rem;
}

#about .image::before {
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -8.3%;
    left: -8.3%;
    z-index: 0;
}

#about .image img {
    position: relative;
}

#about .image img,
#about .image::before {
    border-radius: 0.25rem;
}

#about .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
#about .text p {
    text-align:justify;
}


/* =============SERVICES============= */
#services .header-services{
    width:100%;
    position:relative;
    text-align:center;
}
.cards.grip {
    gap: 0.5rem;
}

.card {
    padding: 3.625rem 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-bottom: 0.25rem solid var(--base-color);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 400px;
}

.cards .title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.cards .image {
    width: 300px;
    margin-bottom: 0.75rem;
    position: relative;
}

.cards .image::before {
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -8.3%;
    left: 8.3%;
    z-index: 0;
}

.cards .image img {
    height: 250px;
    border-radius: 00.25rem;
    position: relative;
}

.front, .back{
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.front{
    transform: rotateY(0deg);
}

.back{
    transform: rotateY(180deg);
}

.card:hover .front{
    transform: rotateY(-180deg);
}

.card:hover .back{
    transform: rotateY(0deg);
}

.card .back p{
    font-size: 1.2rem;
    margin-top: -2.3rem;
}


/*swiper*/

.swiper-container {
    width: 100%;
    padding-bottom: 40px;
    overflow: hidden;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
}


/* =============CONTACT============= */

#contact .grid {
    gap: 4rem;
}

#contact .text p {
    margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
    font-size: 1.5rem;
    margin-right: 0.625rem;
}

#contact ul .grid {
    gap: 2rem;
}

#contact ul li {
    display: flex;
    align-items: center;
}

#contact ul li i {
    color: var(--base-color);
}


/* =============FOOTER============= */

footer {
    background: var(--base-color);
}

footer.section {
    padding: 1rem 0;
}

footer .logo {
    display: inline-block;
    margin-bottom: 1.5rem;
}

footer .brand p {
    color: var(--text-color-light);
    margin-bottom: 0.75rem;
}

footer i {
    font-size: 3rem;
    color: var(--text-color-light);
}

footer .social a {
    margin-right: 2rem;
    transition: 0.3s;
    display: inline-block;
}

footer .social a:hover {
    transform: translateY(-8px);
}


/* =============BACK-TO-TOP============= */

.back-to-top {
    background: var(--base-color);
    color: var(--text-color-light);
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 0.5rem;
    clip-path: circle();
    font-size: 1.5rem;
    line-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}


/* =============MEDIA QUERIES============= */


/* EXTRA LARGE DEVICES: 1200 > */

@media (min-width: 1200px) {
    .container {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
    .section {
        padding: 8rem 0;
    }
    .section header,
    #testimonials header {
        max-width: 32rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .button {
        height: 3.125rem;
    }
    nav .menu {
        opacity: 1;
        visibility: visible;
        top: 0;
    }
    nav .menu ul {
        display: flex;
        gap: 2rem;
    }
    nav .menu ul li a.title {
        font: 300 1.3rem var(--body-font);
        -webkit-font-smothing: antialiased;
    }
    nav .menu ul li a.title.active {
        font-weight: bold;
        -webkit-font-smothing: auto;
    }
    nav .icon-menu {
        display: none;
    }
    main {
        margin-top: var(--header-height);
    }
    #home .container {
        grid-auto-flow: column;
        justify-content: space-between;
        margin: 0 auto;
    }
    #home .image {
        order: 1;
    }
    #home .text {
        order: 0;
        text-align: center;
    }
    #about .container {
        margin: 0 auto;
        grid-auto-flow: column;
    }
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    #testimonials .container {
        margin-left: auto;
        margin-right: auto;
    }
    #contact .container {
        grid-auto-flow: column;
        align-items: center;
    }
    #contact .text {
        max-width: 25rem;
    }
    footer .container {
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
    }
    footer .logo {
        font-size: 2.25rem;
    }
}


/* LARGE DEVICES: 1023 > */


/* LARGE DEVICES: 992 > */

@media (min-width:992px) {
     :root {
        --title-font-size: 3rem;
        --subtitle-font-size: 1.125rem;
    }
}


/* MEDIUM DEVICES: 767 > */